.input {
  padding: 10px 10px;
  background-color: #f7f1f0;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  color: #748075;
}

.input::placeholder {
  font-size: 18px;
  color: #98afae;
}

.input:focus {
  outline: none;
}
